@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.header {
    padding: 2rem 2rem 0rem 2rem;
    background: #2E3440;
    font-family: 'Poppins', sans-serif;
}

.body {
    background: #2E3440;
    font-family: 'Poppins', sans-serif;
    padding: 2rem 2rem;
    margin: 0;
    min-height: 100vh;
}

img{
    border: 5px solid #5E81AC;
    margin-bottom: 50px;
}

h1,h2,h3,h4,h5,h6{
    color: #5E81AC;
}
p{
    color:#D8DEE9;
}

.palette{
    /* polar night  */
    color: #2E3440;
    color: #3B4252;
    color: #434C5E;
    color: #4C566A;
    
    /* snow storm  */
    color: #D8DEE9;
    color: #E5E9F0;
    color: #ECEFF4;
    
    /*Frost*/
    color: #8FBCBB;
    color: #88C0D0;
    color: #81A1C1;
    color: #5E81AC;

    /*Aurora*/
    color: #BF616A;
    color: #D08770;
    color: #EBCB8B;
    color: #A3BE8C;
    color: #B48EAD;
}